@media screen and (min-width: 1044px){
    .text{
        position: sticky;
        width: 600px;
        height: 200px;
        line-height: 42px;
        color: #F24405;
        margin-top:-590px;
        margin-left: 100px;
        z-index: 10000;
    }
    .text h1{
        width: 450px;
        font-size: 28px;
        text-shadow: 2px 2px 2px black;
        
    }
    .text h3{
        color: white;
        text-shadow: 2px 2px 2px black;
        font-style: italic;
        font-size: 18px;
        line-height: 42px;
        margin-left: -210px;
        
    }
    .ajudar{
        margin: 10px 40px;
        width: 280px;
        height: 40px;
        background-color: #F24405;
        color: white;
        font-size: 14px;
        letter-spacing: 2px;
        font-weight: 600;
        border: none;
        outline: none;
        transition: 0.5s;
        
    }
    #facebook , #twitter, #youtube, #instagram{
        background-color: transparent;
        border-radius: 7px;
        width: 4vw;
        height: 9vh;
        margin-left: 10px;
        transition: 0.6s;
    }
    #facebook:hover , #twitter:hover, #youtube:hover, #instagram:hover{
       cursor: pointer;
       box-shadow: inset 2px 4px 15px black;
       background-color: #3d3d3d1f;
    }
    .footer-content{
        padding-top: 90px;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

}
@media screen and (min-width: 1440px){
    .text{
        position: sticky;
        width: 600px;
        height: 200px;
        line-height: 42px;
        color: #F24405;
        margin-top:-790px;
        margin-left: 100px;
        z-index: 10000;
    }
    
    .text h1{
        width: 550px;
        font-size: 36px;
        text-shadow: 2px 2px 2px black;
    }
    .text h3{
        color: white;
        text-shadow: 2px 2px 2px black;
        font-style: italic;
        font-size: 24px;
        line-height: 42px;
         margin-left: -80px;
        
    }
    .ajudar{
        margin: 10px 40px;
        width: 400px;
        height: 50px;
        background-color: #F24405;
        color: white;
        font-size: 18px;
        letter-spacing: 2px;
        font-weight: 600;
        border: none;
        outline: none;
        transition: 0.5s;
        
    }
    #facebook , #twitter, #youtube, #instagram{
        background-color: transparent;
        border-radius: 7px;
        width: 3vw;
        height: 6vh;
        margin-left: 10px;
        transition: 0.6s;
    }
    #facebook:hover , #twitter:hover, #youtube:hover, #instagram:hover{
       cursor: pointer;
       box-shadow: inset 2px 4px 15px black;
       background-color: #3d3d3d1f;
    }
    .footer-content{
        padding-top: 170px;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

}