@media screen and (min-width: 1044px){
    .text{
        position: sticky;
        width: 600px;
        height: 200px;
        line-height: 42px;
        color: #F24405;
        margin-top:-490px;
        margin-left: 100px;
        z-index: 10000;
    }
    #facebook , #twitter, #youtube, #instagram{
        background-color: transparent;
        border-radius: 7px;
        width: 4vw;
        height: 9vh;
        margin-left: 10px;
        transition: 0.6s;
    }
    #facebook:hover , #twitter:hover, #youtube:hover, #instagram:hover{
       cursor: pointer;
       box-shadow: inset 2px 4px 15px black;
       background-color: #3d3d3d1f;
    }

}
@media screen and (min-width: 1440px){
    .text{
        position: sticky;
        width: 600px;
        height: 200px;
        line-height: 42px;
        color: #F24405;
        margin-top:-790px;
        margin-left: 100px;
        z-index: 10000;
    }
    #facebook , #twitter, #youtube, #instagram{
        background-color: transparent;
        border-radius: 7px;
        width: 3vw;
        height: 7vh;
        margin-left: 10px;
        transition: 0.6s;
    }
    #facebook:hover , #twitter:hover, #youtube:hover, #instagram:hover{
       cursor: pointer;
       box-shadow: inset 2px 4px 15px black;
       background-color: #3d3d3d1f;
    }

}